# Sample configuration file for generating fragment recruiting plots for
# a microbiome

# The name of the microbiome will be included in plot titles
microbiome = "Human Keratinized Gingiva"

# A shortname for the project.  The images will be output into a directory
# by this name, and it will also be used to generate the name for the
# resulting tarball.  Keep it simple; no spaces or special characters.
shortname = "keratinized_gingiva"

# Files specified below are relative to a base path specified here
basepath = "/home/user/microbiome"

# Reference genomes are specified here.  A plot will be generated for each
# specified reference genome.  Each stanza consists of three entries:
#   - a human readable description of the organism
#   - the taxon ID of the genome (specified as a string, not a number)
#   - path/filename of the FASTA file representing the genome
refgenomes = [
    (
        "Prevotella disiens FB035-09AN",
        "28130",
        "refgenomes/28130/genomic.fna"
    ),
    (
        "Salmonella enterica ATCC 9150",
        "28901",
        "refgenomes/28901/genomic.fna"
    )
]

# Samples are specified here.  Each sample will produce points of a different
# color in each of # the plots corresponding to reference genomes.  Each
# stanza consists of two entries:
#   - a human readable description of the sample
#   - a cross-reference of taxon IDs (specified in the refgenome list) with
#     the SAM file listing the aligned fragments for that taxon.  The SAM
#     entries must include MD tags.
samples = [
    (
        "Sample 1 (f, 31)",
        {
            "28130": "samples/patient1/28130.sam",
            "28901": "samples/patient1/28901.sam",
        }
    ),
    (
        "Sample 2 (f, 24",
        {
            "28130": "samples/patient2/28130.sam",
            "28901": "samples/patient2/28901.sam",
        }
    )
]
